<h1 class="title is-3 has-text-white"><%= @content.camelize %> sources</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Comments</th>
      <th>Total <%= @content.camelize %></th>
      <th><%= @content.camelize %> Mapped</th>
      <th><%= @content.camelize %> Unmapped</th>
      <th>% <%= @content.camelize %> Mapped</th>
      <th>Works Mapped</th>
      <th>Works Unmapped</th>
      <th>% Works Mapped</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.name %></td>
        <td><%= source.comments %></td>
        <td class="text-right"><%= source.total_entries %></td>
        <td class="text-right"><%= source.total_mapped_entries %></td>
        <td class="text-right"><%= source.total_unmapped_entries %></td>
        <td class="text-right"><%= source.percent_listings_mapped %></td>
        <td class="text-right"><%= source.total_mapped_works %></td>
        <td class="text-right"><%= source.total_unmapped_works %></td>
        <td class="text-right"><%= source.percent_works_mapped %></td>
        <td><%= link_to 'See unmapped', source_path(source) %></td>
      </td>
    <%end%>
  </tbody>
</table>